<<<<<<< HEAD
/*name Ricky Severins */
/*date 28-2-2022*/
/*subject project T3*/
=======
/*arthor lex schenning, Ricky  Severins, Sven dinkla*/
/*date 16-4-2022*/
/*resultaten pagina css*/
>>>>>>> origin/master
#centerresults
{
    text-align: center;
}
h3
{
    margin: 30px;
}
.imgresults
{
    width: 500px;
    height: 400px;
}
