/*Navbar styling*/
*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    /*border: solid black 3px;*/

}
@font-face
{
    src: url("../fonts/Sintony-Regular.ttf");
}
#nav
{
    margin-left: 0;
}
nav
{
    text-align: center;

}
#zelftest
{
    float: right;
    margin-right: 100px;
    background-color: red;
    padding: 12px;
}
a
{
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}
#logo
{
    float: left;
}



/*Footer styling*/
body
{
    background: #66b6df;
}


/*index pagina styling*/
#banner
{
    width: 100vw;
    background-image: url("../images/banner-ict-academie.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 40vw;
    text-align: center;
}

#pzelftest
{
    width: 15vw;
    background-color: red;
    margin-left: 45vw;
    margin-top: 7.5vh;

}
h1
{
    text-align: center;
    width: 100vw;
    margin: 20px 0 20px 0;
}
#block1
{
    margin: 20px 20px 20px 20px;
    margin-left: 10vw;
    width: 40vw;
    background-color: #0085ca;
    float: left;
}

header
{
    width: 100vw;
    background-color: #0085ca;
    height: 60vh;
    position: absolute;
    text-align: center;
}
#header
{
    height: 60vh;
}
p
{
    margin: 20px;
}
h3
{
    text-align: center;
}
#brochure
{
    background-color: red;
    padding: 3px;
}
#block2
{
    margin: 20px 20px 20px 20px;
    margin-left: 5vw;
    width: 25vw;
    background-color: #0085ca;
    float: left;
}
#block3
{
    margin: 20px 20px 20px 20px;
    margin-left: 5vw;
    width: 25vw;
    background-color: #0085ca;
    float: left;
}
#stippelijn
{
    width: 100vw;
}
.nav
{
    width: 100vw;
    margin-left: 0;
    float: left;
    margin-top: 30px;
    list-style-type: none;

}
#azelftest
{
    font-size: 20px;
}

@media only screen and (min-width: 600px)
{
    .anav
    {
        width: 10vw;
        font-size: 20px;
    }
    .nav
    {
        width: 10vw;
        margin-left: 80px;

    }
    #nav
    {
        margin-left: 30px;
    }
    #header
    {
        height: 20vh;
        width: 100vw;
    }
    header
    {
        height: 20vh;
    }
    #banner
    {
        padding-top: 100px;
    }
}
@media only screen and (min-width: 900px)
{
    .anav
    {
        width: 10vw;
        font-size: 20px;
    }
    .nav
    {
        width: 10vw;
        margin-left: 80px;

    }
    #nav
    {
        margin-left: 200px;
    }
    #header
    {
        height: 10vh;
    }
    header
    {
        height: 10vw;
    }
    #banner
    {
        padding-top: 100px;
    }


}