/*arthor lex schenning, Ricky  Severins, Sven dinkla*/
/*date 16-4-2022*/
/*resultaten pagina css*/
#centerresults
{
    text-align: center;
}
h3
{
    margin: 30px;
}
.imgresults
{
    width: 500px;
    height: 400px;
}
