<<<<<<< HEAD
/*name Ricky Severins/Lex Schenning */
/*date 28-2-2022*/
/*subject project T3*/

    /*Navbar styling*/
=======
/*arthor lex schenning, Ricky  Severins, Sven dinkla*/
/*date 16-4-2022*/
/*algemeene css*/

/*Navbar styling*/
>>>>>>> origin/master
*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}
body
{
    max-width: 100%;
    overflow-x: hidden;
}
@font-face
{
    src: url("../fonts/Sintony-Regular.ttf");
}
#nav
{
    margin-left: 0;

}
nav
{
    text-align: center;

}
#zelftest
{
    float: right;
    margin-right: 100px;
    background-color: red;
    padding: 12px;
}
a
{
    text-decoration: none;
    font-weight: bold;
    width: 50px;
    height: 50px;
}
#logo
{
    text-align: center;
}



/*Footer styling*/

body
{
    background: #66b6df;
}


/*index pagina styling*/
#banner
{
    width: 100vw;
    background-image: url("../images/banner-ict-academie.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 40vw;
    text-align: center;
    padding-top: 70px;
}

#pzelftest
{
    width: 100vw;
    background-color: red;
    height: 50px;
    text-align: center;
    font-size: 40px;
}
h1
{
    text-align: center;
    width: 100vw;
    margin: 20px 0 20px 0;
}
#block1
{
    margin: 20px 20px 20px 10vw;
    width: 40vw;
    background-color: #0085ca;
    float: left;
}

header
{
    width: 100vw;
    background-color: #0085ca;
    height: 60vh;
    text-align: center;
    margin-bottom: 500px;
}
#header
{
    height: 60vh;
    background-color: #0085ca;
}
p
{
    margin-top: 20px;
}
h3
{
    text-align: center;
}
#brochure
{
    background-color: red;
    padding: 3px;
}
#block2
{
    margin: 20px 20px 20px 20px;
    margin-left: 5vw;
    width: 25vw;
    background-color: #0085ca;
    float: left;
}
#block3
{
    margin: 20px 20px 20px 20px;
    margin-left: 5vw;
    width: 25vw;
    background-color: #0085ca;
    float: left;
}
#stippelijn
{
    width: 100vw;
    height: 10px;
}
.nav
{
    width: 100vw;
    margin-left: 0;
    float: left;
    margin-top: 30px;
    list-style-type: none;
    font-size: 30px;

}
#azelftest
{
    font-size: 20px;
    height: 50px;
    width: 50px;
    margin-top: 10vh;
}
.logofooter
{
    width: 50px;
    height: 50px;
    float: right;
}
footer
{
    height: 15vh;
    background-color: #0085ca;
}
#blocken
{
    height: 60vh;
}
#ulnav
{
    text-align: center;
}
/*deze code word alleen uitgevoerd als het scherm 700px groot is*/
@media only screen and (min-width: 700px)
{
    #logo
    {
        float: left;
        margin-left: 15px;
    }
    .anav
    {
        width: 10vw;
        font-size: 20px;
    }
    .nav
    {
        width: 10vw;
        margin-left: 50px;

    }
    #nav
    {
        margin-left: 30px;
    }
    #header
    {
        height: 25vh;
        width: 100vw;
    }
    header
    {
        height: 25vh;
    }
    #banner
    {
        padding-top: 100px;
    }
}
/*@media zegt at deze code alleen moet worden uitgevoerd als het scherm minimaal 1250px groot is*/
@media only screen and (min-width: 1250px)
{
    #logo
    {
        float: left;
    }
    .anav
    {
        width: 10vw;
        font-size: 20px;
    }
    .nav
    {
        width: 10vw;
        margin-left: 80px;

    }
    #nav
    {
        margin-left: 200px;
    }
    #header
    {
        height: 20vh;
        width: 100vw;
    }
    header
    {
        position: fixed;
    }
    #banner
    {
        padding-top: 100px;
    }

}